<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="appProps" class="org.homework.spring.AppProps">
        <property name="questionsFileName" value="questions.csv"/>
    </bean>

    <bean id="questionReaderDao" class="org.homework.spring.dao.QuestionCSVReaderDao"/>

    <bean id="cliService" class="org.homework.spring.service.CLIServiceImpl"/>

    <bean id="questionService" class="org.homework.spring.service.QuestionService">
        <constructor-arg index="0" ref="questionReaderDao"/>
        <constructor-arg index="1" ref="cliService"/>
    </bean>

</beans>